<footer>
  <nav class="navbar2 fixed-bottom navbar-dark bg-dark">
    <h6 class="display-7 navbar-text">
      <div>
        <ul
          style="
            display: flex;
            list-style-type: none;
            justify-content: center;
            gap: 20px;
            margin-bottom: 20px;
            align-items: center;
          "
        >
          <li>
            <a href="mailto:sagaragrahari106@gmail.com" target="_blank">
              <img
                src="/img/footer/gmail-svgrepo-com.svg"
                alt="gmail"
                width="35px"
                height="25px"
              />
            </a>
          </li>

          <li>
            <a
              href="https://www.linkedin.com/in/sagar-agrahari-355539253/"
              target="_blank"
            >
              <img
                src="/img/footer/linkedin-color-svgrepo-com.svg"
                alt="linkedin"
                width="35px"
                height="25px"
              />
            </a>
          </li>

          <li>
            <a
              href="https://www.facebook.com/sagar.agrahari.3975?mibextid=ZbWKwL"
              target="_blank"
            >
              <img
                src="/img/footer/facebook-color-svgrepo-com.svg"
                alt="facebook"
                width="35px"
                height="25px"
              />
            </a>
          </li>

          <li>
            <a
              href="https://www.instagram.com/sagar_agrahari_106/?igshid=ZDdkNTZiNTM%3D"
              target="_blank"
            >
              <img
                src="/img/footer/instagram-1-svgrepo-com.svg"
                alt="instagram"
                width="35px"
                height="25px"
              />
            </a>
          </li>
        </ul>
      </div>
      &copy;Sagar Agrahari Course:COMP-229 - Web App Development
    </h6>
  </nav>
</footer>
